:root {
  --placePoint__strokeColor : #000;
  --placePoint__fillColor   : #FFF;
  --transition-duration     : .25s;
}

.placePoint {
  transition   : fill var(--transition-duration) ease;

  stroke       : var(--placePoint__strokeColor);
  stroke-width : 3px;
  fill         : var(--placePoint__fillColor);
}

.placeName {
  opacity    : 0;
  transition : opacity var(--transition-duration) ease;
}

.placeName.placeName--active {
  opacity : 1;
}

.placeName__text {
  font-family : sans-serif;
  font-size   : 12px;
  font-weight : bold;
}

.placeName__bg {
  fill : white;
}

.zoneVoronoi, .zonePoint, .zoneLine {
  cursor : pointer;
}

.line__regular {
  stroke: #399;
}
.line__hard {
  stroke: #F60;  
}
.line__easy {
  stroke: #06F;  
}
.lineArrow__hard {
  fill: #F60;
}
.lineArrow__easy {
  fill: #06F;
}
.line__selected.line__regular,
.line__selected .line__hard,
.line__selected .line__easy {
  stroke: #333;  
}
.line__selected .lineArrow__hard,
.line__selected .lineArrow__easy {
  fill: #333;
}

.numberText {
  font-family : sans-serif;
  font-size   : 12px;
  font-weight : bold;
}

.numberText.numberText--bottom {
  font-size : 10px;
}

.numberText.numberText--top {
  font-size : 10px;
}