.POInt__group .POInt__text {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;

  visibility: hidden;
}
.POInt__group:hover .POInt__text {
  /* How about using Delaunator to make a Voronoi mesh for the hover? */
  visibility: visible;
}


.numberText {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}
.numberText.numberText--bottom {
  font-size: 10px;
}
.numberText.numberText--top {
  font-size: 10px;
}